.Dictionary {
  margin: 20px;
  text-align: left;
}

.Dictionary h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 40px;
}

.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  margin: 10px 0;
}

.Dictionary form {
  text-align: center;
}

.Dictionary-search-bar {
  margin: 2px;
  padding: 10px 15px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.Dictionary-search-button {
  padding: 10px 20px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 16px;
  background-color: rgb(45, 0, 248);
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 150ms ease-in-out;
}

.Dictionary-search-button:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 4px 16px;
}
